html,
body,
#root,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block !important;
  width: 100vw !important;
  height: 100vh !important;
  background-image: radial-gradient(#666, #333);
  background-color: white;
}

#instructions {
  position: absolute;
  color: #fff;
  bottom: 10px;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  pointer-events: none;
}
